@import "tailwindcss";

:root {
  --bg-color: #efefef;
}

.fix-height {
  min-height: calc(100vh - 150px) !important;
}

body {
  background-color: var(--bg-color);
}
* {
  box-sizing: border-box;
}
.fix-side {
  height: 100vh;
}
